/* ---------- Introduction ---------- */
#introduction {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}

#introduction,
#introduction > div,
.hero {
  flex: 1;
}

.heading__paragraph {
  display: flex;
  align-items: flex-end;
}

.section__heading {
  display: block;
}

.home__more-button {
  position: relative;
}
.home__more-button a {
  position: absolute;
}

/* ---------- Hero ---------- */
