/* ---------- Graphik font ---------- */
@font-face {
  src: url(/fonts/Graphik/Graphik-Regular-Trial.otf);
  font-family: Graphik;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(/fonts/Graphik/Graphik-RegularItalic-Trial.otf);
  font-family: Graphik;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  src: url(/fonts/Graphik/Graphik-Medium-Trial.otf);
  font-family: Graphik;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url(/fonts/Graphik/Graphik-MediumItalic-Trial.otf);
  font-family: Graphik;
  font-weight: bold;
  font-style: italic;
}
