* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #f5f5f5;
  --color-black: #222222;
}

body {
  font-family: "Graphik", Arial;
  color: var(--color-black);
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

main {
  padding: 0 max(5%, 1rem);
  font-size: 1.25rem;
  display: flex;
  flex-flow: row wrap;
}

.button {
  border: 2px solid var(--color-black);
  border-radius: 0.25rem;

  padding: 0.5rem 1.25rem;
  font-size: 1.15rem;

  color: var(--color-white);
  background-color: var(--color-black);
}
.button:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* Titles those are under a section */
.section__heading {
  font-size: 4rem;
  font-weight: bold;
}

/* Maximum width for those paragraphs which are under a heading */
.heading__paragraph {
  /* max-width: 80%; */
}

.hero {
  display: flex;
  justify-content: center;
}
.hero img {
  width: 70%;
  border: none;
  border-radius: 1rem;
}
