:root {
  /* Fonts: */
  --ff-primary: Graphik;

  /* Colors: */
  --c-title: #111111;
  --c-text: #222222;
  --c-button: #333333;
  --c-hl-text: #007a9a;
  --c-blue: #0082a2;
  --c-grey: #eeeeee;
  --c-bg: #fafafa;
  --c-white: #ffffff;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

a {
  color: var(--c-hl-text);
  text-decoration: none;
}

body {
  font-family: "Graphik", Arial;
  color: var(--c-text);
  background-color: var(--c-bg);
}

main {
  /* padding: 0 max(5%, 1rem); */
  /* font-size: 1.25rem; */
  /* display: flex; */
  /* flex-flow: row wrap; */
}

/* ---------- Components ---------- */

.heading {
  display: block;
  color: var(--c-title);
  font-size: 2rem;
  font-weight: bold;
}
